<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @user.name %></h1>
    <p>
    <h4>Usuario: </h4> <%= @user.email %>
    <h4>Nueva contraseña: </h4> <%= @pass %>
    </p>
  </body>
</html>